*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* HEADER */
.header{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.header nav{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.header a:hover{
    color: #16ecb7c7;
}
.active{
    font-weight: bold ;
}
/* FIN DE HEADER */

/* MAIN */
.principal {
    animation-duration: 3s;
    animation-name: slidein;
}
body{
    background-color: #8080803f;
}
/* footer */
.footer{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.footer ul li{
    list-style: none;
}
.footer a{
    text-decoration: none;
    color: black;
}
.footer a:hover{
    color: #16ecb7c7;
    box-shadow: #00241b;
}
.footer img{
    width: 25px;
    height: 25px;
}
/* productos */
.tortas img{
    width: 200px;
    height: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.mini img{
    width: 200px;
    height: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.otros img{
    width: 200px;
    height: 200px;
    margin-top: 2px;
    margin-bottom: 5px;
}
/* Novedades */
/*Contacto */
.parrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.parrafo table{
    border: solid #16ecb7c7 5px;
    color: #ee5c74;
    margin-top: 5px;
    margin-bottom: 5px;
}
.color{
    background-color: #fdcbf1 ;
    color: #ee5c74;
}
.color:hover{
    background-color: black;
    color: white;
}
.form-label{
    color:#ee5c74;
}
/* nosotros */
.h2:hover{
    transform: rotate(360deg);
    transition-duration: 1s;
}
h1:hover{
    animation-name: girar;
    animation-duration: 3s;
    animation-delay: 0s;
}
/* keyframe */
@keyframes slidein{
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
@keyframes girar{
    0% {
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(360deg);
    }
    100% {
        transfom:rotateX(360deg);
    }
}