*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* HEADER */
.header{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.header nav{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

FIN DE HEADER

/* MAIN */


/* .texto{
    display: flex;
    align-items: center;
    background-color: #7fffd481;
}
.texto img{
    display: flex;
    width: 50%;
    height: 50%;
} */

/* footer */
.footer{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.footer ul li{
    list-style: none;
}
.footer a{
    text-decoration: none;
    color: black;
}
.footer img{
    width: 25px;
    height: 25px;
}
/* grid productos */
.principal {
    animation-duration: 3s;
    animation-name: slidein;
}
.container1 {  
    display: grid;
    grid-template-columns: REPEAT(AUTOFILL);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "tortas tortas tortas"
      "mini mini mini"
      "otros otros otros";
}
.tortas {
    grid-area: tortas;
    display: inline;
    text-align: CENTER;
    border-radius: 5px;
    margin: auto;
    margin: 10px;
    padding: 10px;
}
.tortas img{
    width: 200px;
    height: 200px;
}
.main {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(0,36,27);
    background: linear-gradient(90deg, rgba(0,36,27,1) 0%, rgba(61,148,140,1) 35%, rgba(0,212,255,1) 100%);
}   
.mini {
    grid-area: mini;
    display: inline;
    border-radius: 10px;
    text-align: center;
    vertical-align: top;
    margin: auto;
    margin: 10px;
    padding: 10px;
}
.mini img{
    width: 200px;
    height: 200px;
}
.otros {
    grid-area: otros;
    display: inline;
    border-radius: 10px;
    text-align: center;
    vertical-align: top;
    margin: auto;
    margin: 10px;
    padding: 10px;
}
.otros img{
    width: 200px;
    height: 200px;
}
/* Novedades */

/*Contacto */
.parrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* nosotros */
.divNosotros{
    background: #00241b;
    background: linear-gradient(90deg, #00241b 0%, #3d948c 35%, #00d4ff 100%);
}
/* keyframe */
@keyframes slidein{
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
